.navbarcontainer{
    position:  sticky;
}
.navbaronlyformobile{
    display: none
}
.navbar{
    display: flex;
    margin:auto;
    top : 0;
    position: sticky;
    justify-content : space-evenly;
    padding-top : 10px;
    padding-bottom :10px;
    width : 100%;
    z-index: 999;
    background-color: white;
}

.navbar-left{
    display: flex;
}
.AddPost-container{
    display: none;
}
.navbar-left img{
     object-fit : contain; /*fix as per the aspect ratio*/
     height : 40px;
     margin-right : 10px ;
     margin-left: 140px ;
     margin-top : 10px;
}
.navbar-search{
    display: flex;
    align-items : center;
    padding: 10px;
    border-radius: 5px;
    height : 20px;
    /* border: 1px solid black; */
    background : #EEF3F8;
    margin-top : 10px;
    width : 425px;
}
.search-box{
    border : none;
    outline: none;
    background: none;
    /* color : #909396; */
    font-size : medium;
    width : 400px;
    height : 30px;
}
.navbar-right{
    display: flex;
    margin-top : 10px;
    margin-left: 30px;
}
.navbar-right-icons{
    display : flex;       
}


@media screen and (max-width: 1230px){
   
    .navbar-right{
       font-size : 15px;
    }
    .navbar-search{
        width : 400px;
    }
    .navbar-left img{
        margin-left : 30px;
    }
    
.navbaronlyformobile{
    display: none
}

}
@media screen and (max-width:1110px){
    .menu-icon{
        display : block;
    }
    .navbar{
        flex-direction: column;
        width : 250px;
        position: absolute;
        padding : 20px;
        right :10;
        background : whitesmoke;
        border: 1px solid black;
        z-index: 999;
    }
    
.navbaronlyformobile{
    display: none
}
    .navbar-right{
        flex-direction: column-reverse;
        width : 150px;
        position : sticky
    }
    .navbar-right-icons{
        display : flex; 
        flex-direction : column;
        position : sticky;      
    }
   
    .navbar-search{
        width : 230px;
        background : #A0B4B7;
    }
    .work-container{
        visibility : hidden;
    }
}
@media screen and (max-width:660px){
    .navbar{
        display: flex;
        flex-direction : row;
        background : white;
        border: none;
       

    }
    .navbar-search{
        display: none;
    }
    .navbar-right-icons{
        flex-direction : row;
    }
    .home-container{
        display: flex;
        justify-content : center;
        align-items : center;
        width : 50px;
        margin-right:20px;
        
    }
    .network-container{
        display: flex;
        justify-content : center;
        align-items : center;
        width : 60px;
        margin-right:20px;
    }
    .Jobs-container{
        display: flex;
        justify-content : center;
        align-items : center;
        width : 60px;
        margin-right:20px;
    }
    .Messaging-container{
        display: none;
        justify-content : center;
        align-items : center;
        width : 60px;
        margin-right:20px;
    }
    .notifications-container{
        display: flex;
        justify-content : center;
        align-items : center;
        width : 60px;
        margin-right:20px;
    }
    .navbar-right{
        /* border:  1px solid black; */
        width : 200px;
        height : 60px;
        position : absolute;
        top : 720px;
        left : -25px; 
    }
    .AddPost-container{
        display: flex;
        justify-content : center;
        align-items : center;
        width : 60px;
        margin-right:20px;
    }
    .stickybottom{
        display: sticky;
        background : #F3F2EF; 
        width : 360px;
        margin-left: -4px;
    }
    .avatar-container{
       display: none;
    }
    
    .navbaronlyformobile{
        display: flex;
        align-items : center;
        justify-content : space-around;
        
        width : 360px;
        margin-left : 25%;
    } 
    .searchboxformobile{
        display: flex;
        align-items : center;
        width : 260px;
        border: 1px solid lightgray;
        height : 35px;
        margin-left : 10px;
        margin-right :10px;
        background: #EEF3F8;
    }
    .avatarmobile{
        margin-left : 5px;
    }
    .searchbarmobile{
        border : none;
        outline : none;
        background: none;
        width : 200px;
    }
    
}