.post{
    width : 600px;
    display : flex;
    margin-left: 15px;
    margin-top : 50px;
    border-radius : 10px;
    background : white;
    flex-direction : column;
}
.postHeader {
 padding-top: 10px;; 
 border : 1px solid lightgray;
 display : flex;
 align-items : center;
 border-bottom : none;
 border-top-right-radius: 15px;
 border-top-left-radius: 15px;
}
.img{
    margin-left : 20px;
}
.postHeaderinfo{
    display : flex;
   flex-direction: column;
   align-items : flex-start;
    margin-left : 10px;
}
.PostmansName{
    font-size: medium;
    font-weight: 600;
}
.dateofpost{
    display : flex;
    align-items : center;
    color: grey;
    font-size : 12px;
}
.designation{
    display : flex;
    font-size: 14px;
    color : grey;
}
.description{
   font-size: 15px;
   padding: 5px;
   margin: 15px;;
}
.postcontnt{
    border : 1px solid lightgrey;
    border-top: none;
    border-bottom-right-radius:  15px;
    border-bottom-left-radius: 15px;
}
.postcontnt img{
    width: 100%;
    border-bottom-right-radius:  15px;
    border-bottom-left-radius: 15px;

}
.Reactioncontainer{
    display: flex;
    align-items : center;
   font-size : 20px;
   border : 1px solid lightgray;
   border-top : none;
   border-bottom-right-radius: 15px;
   border-bottom-left-radius: 15px;
}
.Like{
    display: flex;
    align-items : center;
    margin-left: 30px;
    cursor: pointer;
    font-size : '20px';
}
.Comment{
    display: flex;
    align-items : center;
    margin-left: 30px;
    cursor: pointer;
    font-size : '20px';
}
.Share{
    display: flex;
    align-items : center;
    margin-left: 30px;
    cursor: pointer;
    font-size : '20px';
}
.Send{
    display: flex;
    align-items : center;
    margin-left: 30px;
    cursor: pointer;
    font-size : '20px';
}
.Reactioncontainer :hover{
    background-color : whitesmoke;
}
.commentSection{
    display : flex;
    flex-direction: row;
    align-items : center;
    margin-top : 10px;
    margin-left : 30px;
}
.commenttext{
    border : none;
    outline: none;
    background: none;
    height : 30px;
    width : 360px;
}
.commenttextbar{
    border : 1px solid lightgray;
    display: flex;
    justify-content : space-between;
    align-items : center;
    padding: 10px;
    border-radius: 20px;
    height : 20px;
    margin-left : 20px;
    /* border: 1px solid black; */
    background : #EEF3F8;
    margin-top : 10px;
    width : 500px;
}
@media screen  and (max-width:1110px){
    .post{
        width : 400px;
        display : flex;
        margin-left: 15px;
        margin-top : 50px;
        border-radius : 10px;
        background : white;
        flex-direction : column;
        
    }
    .postHeader {
        padding-top: 10px;; 
        border : 1px solid lightgray;
        display : flex;
        align-items : center;
        border-bottom : none;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
       }
       .img{
           margin-left : 20px;
       }
       .postHeaderinfo{
           display : flex;
          flex-direction: column;
          align-items : flex-start;
           margin-left : 10px;
       }
       .PostmansName{
           font-size: medium;
           font-weight: 600;
       }
       .dateofpost{
           display : flex;
           align-items : center;
           color: grey;
           font-size : 12px;
       }
       .designation{
           display : flex;
           font-size: 14px;
           color : grey;
       }
       .description{
          font-size: 15px;
          padding: 5px;
          margin: 15px;;
       }
       .postcontnt{
           border : 1px solid lightgrey;
           border-top: none;
           border-bottom-right-radius:  15px;
           border-bottom-left-radius: 15px;
       }
       .postcontnt img{
           width: 100%;
           border-bottom-right-radius:  15px;
           border-bottom-left-radius: 15px;
       
       }
       .Reactioncontainer{
           width: 100%;
           display: flex;
           align-items : center;
          font-size : 18px;
          border : 1px solid lightgray;
          border-top : none;
          border-bottom-right-radius: 15px;
          border-bottom-left-radius: 15px;
       }
       .Like{
           display: flex;
           align-items : center;
           margin-left: 10px;
           cursor: pointer;
           font-size : '5px';
       }
       
       .Comment{
           display: flex;
           align-items : center;
           margin-left: 30px;
           cursor: pointer;
           font-size : '15px';
       }
       .Share{
           display: flex;
           align-items : center;
           margin-left: 30px;
           cursor: pointer;
           font-size : '15px';
       }
       .Send{
           display: flex;
           align-items : center;
           margin-left: 30px;
           cursor: pointer;
           font-size : '20px';
       }
       .Reactioncontainer :hover{
           background-color : whitesmoke;
       }
       .commentSection{
           display : flex;
           flex-direction: row;
           align-items : center;
           margin-top : 10px;
           margin-left : 10px;
           height : 20px;
       }
       .commenttext{
           border : none;
           outline: none;
           background: none;
           height : 20px;
           width : 250px;
       }
       .commenttextbar{
           border : 1px solid lightgray;
           display: flex;
           justify-content : space-between;
           align-items : center;
           padding: 10px;
           border-radius: 20px;
           height : 20px;
           margin-left : 20px;
           /* border: 1px solid black; */
           background : #EEF3F8;
           margin-top : 10px;
           width : 500px;
       }
}
    
